<footer th:fragment="footer" class="footer position-absolute bottom-2 py-2 w-100">
	<div class="container">
		<div class="row align-items-center justify-content-lg-between">
			<div class="col-12 col-md-12 my-auto">
				<div class="copyright text-center text-sm text-white text-lg-center">
					&copy;
					<script>
						document.write(new Date().getFullYear().toString() + ", ");
					</script>
					made using
					<!-- <i class="fab fa-java" aria-hidden="true"></i> -->
					<img
						th:src="@{/images/spring.png}"
						alt="Spring boot"
						data-toggle="tooltip"
						data-placement="bottom"
						title="Spring Boot"
						width="20px"
					/>
					by
					<a href="https://github.com/AnonySharma" class="font-weight-bold text-white" target="_blank"
						>Ankit Kumar Sharma</a
					>
				</div>
			</div>
		</div>
	</div>
</footer>
