<nav class="navbar navbar-dark bg-dark" th:fragment="navbar">
	<a class="navbar-brand" th:href="@{/}">
		<img
			src="https://via.placeholder.com/150/FFFF00/000000?text=eM"
			width="30"
			height="30"
			class="d-inline-block align-top"
			alt=""
		/>
		ezyManage
	</a>
	<div class="ms-auto px-auto" th:if="${loggedIn != true}">
		<a href="/login/" class="btn float-right login_btn">Login</a>
		<a href="/admin/" class="btn float-right login_btn">Admin</a>
	</div>
	<div th:if="${loggedIn == true}">
		<div class="dropdown bg-dark profile">
			<a id="dropdownMenuButton" data-toggle="dropdown" aria-hastoast="true" aria-expanded="false">
				<img th:src="'https://via.placeholder.com/40/FD964B/000000?text=' + ${#strings.capitalize(username[0])}" style="cursor: pointer;" class="rounded-circle"/>
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" th:href="@{/profile/}">Profile</a>
				<a class="dropdown-item" href="#">Settings</a>
				<a class="dropdown-item" th:href="@{/admin/}">Admin</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item font-weight-bold text-danger" th:href="@{/logout/}">Logout</a>
			</div>
	</div>
	
</nav>