<nav class="navbar navbar-dark bg-dark" th:fragment="navbar">
	<a class="navbar-brand" th:href="@{/}">
		<img
			src="https://via.placeholder.com/150/FFFF00/000000?text=eM"
			width="30"
			height="30"
			class="d-inline-block align-top"
			alt=""
		/>
		ezyManage
	</a>
	<div class="ms-auto px-auto">
		<a href="/login/" class="btn float-right login_btn">Login</a>
		<a href="/register/" class="btn float-right login_btn">Register</a>
		<a href="/admin/" class="btn float-right login_btn">Admin</a>
	</div>
</nav>
