<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body>
		<div th:replace="components/navbar :: navbar"></div>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card text-center">
					<div class="card-header">
						<div th:if="${loggedIn == true}">
							<span class="text-white" th:text="${'Hello ' + username + '!'}"></span>
							<a th:href="@{/logout/}" class="float-right"><span class="badge badge-danger">Logout</span></a>
							<br />
						</div>
					</div>
					<br />
					<h4 class="text-white">Welcome to ezyManage!</h4>
					<br />
					<div class="mx-auto">
						<a href="/login/" class="btn login_btn">Login</a>
						<br />
						<br />
						<a href="/register/" class="btn login_btn">Register</a>
						<br />
						<br />
						<a href="/admin/" class="btn login_btn">Admin</a>
						<br />
						<br />
						<a href="/myshops/" class="btn login_btn">Shops</a>
						<br />
						<br />
						<a href="/products/" class="btn login_btn">Products</a>
					</div>
				</div>
			</div>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
