<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body>
		<div th:replace="components/navbar :: navbar"></div>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card text-center text-white">
					<div class="card-header">
						<div style="width: 50px">
							<a th:href="@{/shops/__${shopId}__/}" class="btn btn-primary"
								><i class="fas fa-arrow-circle-left"></i
							></a>
						</div>
						<h3>New Cart</h3>
					</div>
					<br />
					<!-- Shop the products and multiselect them and add their prices and display below all of them -->
					<!--
						<div class="card-body">
							<form action="new_order" method="post">
								<div class="form-group">
									<label for="products">Products</label>
									<select class="form-control" id="products" name="products[]" multiple="multiple">
										<option value="1">Product 1</option>
										<option value="2">Product 2</option>
										<option value="3">Product 3</option>
										<option value="4">Product 4</option>
										<option value="5">Product 5</option>
									</select>
								</div>
								<div class="form-group">
									<label for="total">Total</label>
									<input type="text" class="form-control" id="total" name="total" readonly="readonly" />
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div> 
					-->
					<div class="cart-content" th:if="${cart.customerId eq null}">
						<form method="POST" th:action="@{/shops/__${shopId}__/cart/new/}" th:object="${cart}">
							<div class="form-group">
								<label for="customer">Customer</label>
								<select
									class="form-control"
									id="customer"
									name="customer"
									th:field="*{customerId}"
									th:each="customer : ${customers}"
								>
									<option value="" hidden>Select a customer</option>
									<option th:text="${customer.username}" th:value="${customer.id}"></option>
								</select>
							</div>
							<input type="submit" value="Continue" class="btn btn-primary" />
						</form>
					</div>
					<div class="cart-content" th:if="${cart.customerId ne null}">
						<h5 th:utext="${'<b>Customer:</b> ' + customerName}"></h5>

						<div class="two-screen-window">
							<!-- col-lg-6 col-sm-12  -->
							<div class="two-screen">
								<h3>Products</h3>
								<div th:if="${productList eq null or #lists.size(productList) eq 0}">
									No products listed on the store! <br />
									Add some
								</div>
								<table
									class="table table-bordered"
									th:if="${productList ne null and #lists.size(productList) ne 0}"
								>
									<br />
									<thead class="thead-dark">
										<tr>
											<th>Name</th>
											<th>Image</th>
											<th>Price</th>
											<th>Description</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product : ${productList}">
											<td th:text="${product.name}"></td>
											<td>
												<img
													th:src="${product.image}"
													th:alt="${product.name}"
													width="100"
													height="100"
												/>
											</td>
											<td th:text="${'Rs. ' + product.price}"></td>
											<td th:text="${product.description}"></td>
											<td>
												<a
													class="btn btn-success"
													th:href="@{/shops/__${shopId}__/cart/__${customerId}__/add/__${product.id}__/}"
													th:if="${#lists.contains(cartItemsIds, __${product.id}__) eq false}"
													>Add to Order</a
												>
												<span th:if="${#lists.contains(cartItemsIds, __${product.id}__)}"
													>Already added</span
												>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<br />
							<div class="two-screen">
								<h3>Cart</h3>
								<div th:if="${cartItems eq null or #lists.size(cartItems) eq 0}">Cart is empty!</div>
								<div th:if="${cartItems ne null and #lists.size(cartItems) ne 0}">
									<table class="table table-bordered">
										<br />
										<thead class="thead-dark">
											<tr>
												<th>Name</th>
												<th>Image</th>
												<th>Price</th>
												<th>Quantity</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${cartItems}" th:with="product=${item.getFirst()}">
												<td th:text="${product.name}"></td>
												<td>
													<img
														th:src="${product.image}"
														th:alt="${product.name}"
														width="100"
														height="100"
													/>
												</td>
												<td th:text="${'Rs. ' + product.price}"></td>
												<td>
													<div class="btn-group">
														<a
															class="btn btn-danger"
															th:href="@{/shops/__${shopId}__/cart/__${customerId}__/decrement/__${product.id}__/}"
															th:if="${item.getSecond() ne 1}"
															><i class="fas fa-minus"></i
														></a>
														<a
															class="btn btn-danger"
															th:href="@{/shops/__${shopId}__/cart/__${customerId}__/remove/__${product.id}__/}"
															th:if="${item.getSecond() eq 1}"
															><i class="fas fa-trash"></i
														></a>
														<button
															type="button"
															class="btn btn-dark"
															th:text="${item.getSecond()}"
															disabled
														></button>
														<a
															class="btn btn-success"
															th:href="@{/shops/__${shopId}__/cart/__${customerId}__/increment/__${product.id}__/}"
															><i class="fas fa-plus"></i
														></a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="row">
										<div class="col-md-6"></div>
										<div class="col-md-6">
											<h6>
												<span th:utext="${'<b>Total Price:</b> Rs. ' + cart.total}"></span>
											</h6>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-md-6">
											<a
												class="btn btn-outline-danger"
												th:href="@{/shops/__${shopId}__/cart/__${customerId}__/clear/}"
												>Clear Cart</a
											>
										</div>
										<div class="col-md-6">
											<a
												class="btn btn-success"
												th:href="@{/shops/__${shopId}__/cart/__${customerId}__/checkout/}"
												>Confirm order and Pay</a
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
