<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body>
		<div th:replace="components/navbar :: navbar"></div>
		<div
			class="page-header align-items-start min-vh-100"
			th:style="'background-image: url(' + @{/images/back-gradient.jpg} + ');'"
			loading="lazy"
		>
			<span class="mask bg-gradient-dark opacity-6"></span>
			<div class="container my-auto">
				<div class="row">
					<div class="col-lg-10 col-md-10 col-12 mx-auto">
						<div class="card z-index-0 fadeIn3 fadeInBottom">
							<div class="card-body bg-gradient-secondary text-center">
								<div style="width: 50px">
									<a th:href="@{__${backLink}__}" class="btn btn-primary"
										><i class="fas fa-arrow-circle-left"></i
									></a>
								</div>
								<h3 th:text="${'Order #' + order.orderId}"></h3>
								<br />
								<div class="cart-content">
									<h5 th:utext="${'<b>Shop:</b> ' + shopName}" class="text-white"></h5>
									<h5 th:utext="${'<b>Staff:</b> ' + staffName}" class="text-white"></h5>
									<h5 th:utext="${'<b>Customer:</b> ' + customerName}" class="text-white"></h5>
									<br />
									<h5
										th:utext="${'<b>Date:</b> ' + #dates.format(order.date, 'dd MMM yyyy, HH:mm:ss')}"
										class="text-white"
									></h5>

									<hr />
									<h3>Ordered Items</h3>
									<div th:if="${orderedItems eq null or #lists.size(orderedItems) eq 0}">List is empty!</div>
									<div th:if="${orderedItems ne null and #lists.size(orderedItems) ne 0}">
										<table class="table table-dark table-striped">
											<br />
											<thead class="thead-dark">
												<tr>
													<th>Name</th>
													<th>Image</th>
													<th>Price</th>
													<th>Quantity</th>
												</tr>
											</thead>
											<tbody class="text-white">
												<tr th:each="item : ${orderedItems}" th:with="product=${item.getFirst()}">
													<td th:text="${product.name}"></td>
													<td>
														<img
															th:src="${product.image}"
															th:alt="${product.name}"
															width="100"
															height="100"
														/>
													</td>
													<td th:text="${'Rs. ' + product.price}"></td>
													<td th:text="${item.getSecond()}"></td>
												</tr>
											</tbody>
										</table>
										<div class="row">
											<div class="col-md-6"></div>
											<div class="col-md-6">
												<h6 class="text-white">
													<span th:utext="${'<b>Total Price:</b> Rs. ' + order.total}"></span>
												</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="components/footer :: footer"></footer>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
