<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body>
		<div th:replace="components/navbar :: navbar"></div>
		<div
			class="page-header align-items-start min-vh-100"
			th:style="'background-image: url(' + @{/images/back-gradient.jpg} + ');'"
			loading="lazy"
		>
			<span class="mask bg-gradient-dark opacity-6"></span>
			<div class="container my-auto">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-12 mx-auto">
						<div class="card z-index-0 fadeIn3 fadeInBottom">
							<div class="card-body bg-gradient-secondary text-center">
								<div style="width: 50px">
									<a th:href="@{/admin/}" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i></a>
								</div>
								<h3>Shop Requests</h3>
								<div th:if="${allRequests eq null or #lists.size(allRequests) eq 0}">
									No active requests found! <br />
								</div>
								<div class="row" th:if="${allRequests ne null and #lists.size(allRequests) ne 0}">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-dark table-striped">
												<thead>
													<tr>
														<th>Username</th>
														<th>Date</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody class="text-white">
													<tr th:each="request : ${allRequests}">
														<td th:text="${userMap[request.userId]}"></td>
														<td
															th:text="${#dates.format(request.date, 'dd MMM yyyy, HH:mm:ss')}"
														></td>
														<td>
															<a
																th:href="@{/admin/shops/requests/allow/__${request.userId}__/}"
																class="btn btn-success"
																>Allow</a
															>
															<a
																th:href="@{/admin/shops/requests/deny/__${request.userId}__/}"
																class="btn btn-danger"
																>Deny</a
															>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="components/footer :: footer"></footer>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
