<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="components/head :: head"></head>
	<body>
		<div th:replace="components/navbar :: navbar"></div>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h4 class="text-white text-center" th:text="${'Products listed under ' + shop.name}"></h4>
					</div>
					<div class="card-body">
						<div class="text-center">
							<a class="btn btn-primary btn-lg" th:href="@{/products/}"> Add Product </a>
						</div>
						<br />
						<table class="table table-striped text-white">
							<thead>
								<tr>
									<th>Name</th>
									<th>Price</th>
									<th>Description</th>
									<th>Image</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="product : ${products}">
									<td th:text="${product.name}" />
									<td th:text="${product.price}"></td>
									<td th:text="${product.description}" />
									<td><img th:src="${product.image}" th:alt="${product.name}" width="100" height="100" /></td>
									<td>
										<a class="btn btn-danger" th:href="@{/shops/__${shop.id}__/remove/__${product.id}__/}"
											>Unlist</a
										>
										<!-- <a class="btn btn-primary" th:href="@{/products/edit/__${product.id}__/}">Edit</a> -->
										<!-- <a class="btn btn-danger" th:href="@{/products/delete/__${product.id}__/}">Delete</a> -->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script th:replace="components/toast :: toast"></script>
	</body>
</html>
